* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* light mode padrão */
  --text-color: #1f1f1f;
  --bg-color: #fefdec;
  --stroke-color: rgba(30, 30, 30, 0.5);
  --surface-color: rgba(255, 255, 255, 0.5);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

.dark {
  --text-color: #f1f1f1;
  --bg-color: #1a1a1a;
  --stroke-color: rgba(223, 223, 223, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
*/

  /* shorthand ou atalho > background: color image repeat position/size */
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#container {
  width: 100%;
  max-width: 588px;
  /* regra css: margin só funciona para right and left, largura */
  margin: 56px auto 0px;
  padding: 0 24px;
  /* no css não é necessário definir a altura, que geralmente segue a da página */
}

/* checar se os filhos tem display block, caso sejam, o text-align ou outras propriedades reservados para o inline não funcionarão */

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;

  /* regras de display: none, block e inline / em elemento inline não conseguimos aplicar margin: auto */
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.3s;

  animation: slide-out 0.3s;
}

.dark #switch button {
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;

  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* lista */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

/* o formato de display do li é block, enquanto a é inlign */
ul li a {
  display: flex;
  justify-content: center;
  align-items: center; /* main, eixo principal */

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 400; /* ou bold, mas ser específico é melhor */

  /* elemento a receber o efeito e tempo */
  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  padding: 16px;
  transition: background-color 0.2s;
  border-radius: 50px;
}

#social-links a i {
  width: 24px;
  height: 24px;
}

#social-links a:hover {
  background-color: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

/* media queries */

/*@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/assets/bg-desktop-light.jpg);
  }
}
  */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--bg-color);
    overflow: hidden;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 10;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #FFACAC;
    top: 71%;
    left: 28%;
    animation-duration: 120s;
    animation-delay: -175s;
    transform-origin: -11vw -16vh;
    box-shadow: 100vmin 0 12.870738172443867vmin currentColor;
}
.background span:nth-child(1) {
    color: #fe71e4;
    top: 21%;
    left: 6%;
    animation-duration: 402s;
    animation-delay: -198s;
    transform-origin: -11vw -23vh;
    box-shadow: 100vmin 0 13.484583580513863vmin currentColor;
}
.background span:nth-child(2) {
    color: #e45895;
    top: 88%;
    left: 75%;
    animation-duration: 315s;
    animation-delay: -229s;
    transform-origin: 0vw -5vh;
    box-shadow: -100vmin 0 12.645799903176854vmin currentColor;
}
.background span:nth-child(3) {
    color: #fe71e4;
    top: 35%;
    left: 41%;
    animation-duration: 19s;
    animation-delay: -168s;
    transform-origin: -13vw -15vh;
    box-shadow: 100vmin 0 13.170166223801328vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 71%;
    left: 97%;
    animation-duration: 179s;
    animation-delay: -147s;
    transform-origin: 25vw 25vh;
    box-shadow: 100vmin 0 13.379811751493879vmin currentColor;
}
.background span:nth-child(5) {
    color: #fe71e4;
    top: 49%;
    left: 70%;
    animation-duration: 290s;
    animation-delay: -15s;
    transform-origin: 18vw 3vh;
    box-shadow: 100vmin 0 12.643621261608258vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 62%;
    left: 45%;
    animation-duration: 249s;
    animation-delay: -332s;
    transform-origin: 6vw 14vh;
    box-shadow: -100vmin 0 12.739479348751134vmin currentColor;
}
.background span:nth-child(7) {
    color: #e45895;
    top: 79%;
    left: 39%;
    animation-duration: 137s;
    animation-delay: -222s;
    transform-origin: 24vw 5vh;
    box-shadow: -100vmin 0 12.638059528534338vmin currentColor;
}
.background span:nth-child(8) {
    color: #fe71e4;
    top: 88%;
    left: 99%;
    animation-duration: 387s;
    animation-delay: -320s;
    transform-origin: -6vw 2vh;
    box-shadow: -100vmin 0 13.171031528541098vmin currentColor;
}
.background span:nth-child(9) {
    color: #e45895;
    top: 61%;
    left: 24%;
    animation-duration: 164s;
    animation-delay: -68s;
    transform-origin: -13vw 17vh;
    box-shadow: 100vmin 0 13.329538968270354vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 62%;
    left: 36%;
    animation-duration: 212s;
    animation-delay: -388s;
    transform-origin: 23vw -10vh;
    box-shadow: 100vmin 0 13.082171816709199vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 72%;
    left: 74%;
    animation-duration: 39s;
    animation-delay: -322s;
    transform-origin: 17vw 16vh;
    box-shadow: 100vmin 0 12.769402058650417vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 67%;
    left: 18%;
    animation-duration: 178s;
    animation-delay: -158s;
    transform-origin: -23vw -6vh;
    box-shadow: -100vmin 0 13.131845588917587vmin currentColor;
}
.background span:nth-child(13) {
    color: #fe71e4;
    top: 52%;
    left: 66%;
    animation-duration: 24s;
    animation-delay: -357s;
    transform-origin: -1vw 1vh;
    box-shadow: 100vmin 0 12.906248761457446vmin currentColor;
}
.background span:nth-child(14) {
    color: #fe71e4;
    top: 80%;
    left: 85%;
    animation-duration: 398s;
    animation-delay: -226s;
    transform-origin: -6vw 7vh;
    box-shadow: -100vmin 0 13.446026825811607vmin currentColor;
}
.background span:nth-child(15) {
    color: #fe71e4;
    top: 53%;
    left: 65%;
    animation-duration: 20s;
    animation-delay: -209s;
    transform-origin: 21vw -21vh;
    box-shadow: 100vmin 0 12.81819041604837vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 32%;
    left: 64%;
    animation-duration: 273s;
    animation-delay: -378s;
    transform-origin: 9vw -23vh;
    box-shadow: -100vmin 0 12.519784887597096vmin currentColor;
}
.background span:nth-child(17) {
    color: #fe71e4;
    top: 53%;
    left: 91%;
    animation-duration: 348s;
    animation-delay: -170s;
    transform-origin: 12vw 9vh;
    box-shadow: -100vmin 0 13.193040564954241vmin currentColor;
}
.background span:nth-child(18) {
    color: #fe71e4;
    top: 99%;
    left: 19%;
    animation-duration: 140s;
    animation-delay: -193s;
    transform-origin: -3vw -24vh;
    box-shadow: -100vmin 0 12.642472783489739vmin currentColor;
}
.background span:nth-child(19) {
    color: #fe71e4;
    top: 76%;
    left: 11%;
    animation-duration: 308s;
    animation-delay: -119s;
    transform-origin: 14vw 19vh;
    box-shadow: 100vmin 0 12.796259205607232vmin currentColor;
}
.background span:nth-child(20) {
    color: #e45895;
    top: 56%;
    left: 83%;
    animation-duration: 46s;
    animation-delay: -269s;
    transform-origin: -17vw 17vh;
    box-shadow: -100vmin 0 13.025786096118608vmin currentColor;
}
.background span:nth-child(21) {
    color: #e45895;
    top: 10%;
    left: 26%;
    animation-duration: 403s;
    animation-delay: -1s;
    transform-origin: 3vw 3vh;
    box-shadow: 100vmin 0 12.609248293124839vmin currentColor;
}
.background span:nth-child(22) {
    color: #FFACAC;
    top: 42%;
    left: 11%;
    animation-duration: 24s;
    animation-delay: -273s;
    transform-origin: -5vw 13vh;
    box-shadow: -100vmin 0 12.637689231310812vmin currentColor;
}
.background span:nth-child(23) {
    color: #fe71e4;
    top: 99%;
    left: 70%;
    animation-duration: 392s;
    animation-delay: -169s;
    transform-origin: -18vw -18vh;
    box-shadow: -100vmin 0 13.080578277045241vmin currentColor;
}
.background span:nth-child(24) {
    color: #fe71e4;
    top: 41%;
    left: 32%;
    animation-duration: 130s;
    animation-delay: -300s;
    transform-origin: -11vw -23vh;
    box-shadow: 100vmin 0 13.364470430283486vmin currentColor;
}
.background span:nth-child(25) {
    color: #fe71e4;
    top: 16%;
    left: 3%;
    animation-duration: 342s;
    animation-delay: -279s;
    transform-origin: 19vw -6vh;
    box-shadow: -100vmin 0 13.45230835089198vmin currentColor;
}
.background span:nth-child(26) {
    color: #fe71e4;
    top: 75%;
    left: 99%;
    animation-duration: 314s;
    animation-delay: -325s;
    transform-origin: -18vw -2vh;
    box-shadow: -100vmin 0 12.84181666509461vmin currentColor;
}
.background span:nth-child(27) {
    color: #e45895;
    top: 57%;
    left: 25%;
    animation-duration: 383s;
    animation-delay: -296s;
    transform-origin: 19vw -13vh;
    box-shadow: -100vmin 0 13.460790297378077vmin currentColor;
}
.background span:nth-child(28) {
    color: #fe71e4;
    top: 82%;
    left: 61%;
    animation-duration: 293s;
    animation-delay: -108s;
    transform-origin: -4vw 5vh;
    box-shadow: -100vmin 0 13.402541289607436vmin currentColor;
}
.background span:nth-child(29) {
    color: #fe71e4;
    top: 57%;
    left: 40%;
    animation-duration: 231s;
    animation-delay: -121s;
    transform-origin: -24vw -24vh;
    box-shadow: -100vmin 0 13.165013511443716vmin currentColor;
}
.background span:nth-child(30) {
    color: #e45895;
    top: 55%;
    left: 96%;
    animation-duration: 198s;
    animation-delay: -24s;
    transform-origin: -5vw -1vh;
    box-shadow: 100vmin 0 13.29159854275275vmin currentColor;
}
.background span:nth-child(31) {
    color: #e45895;
    top: 50%;
    left: 90%;
    animation-duration: 108s;
    animation-delay: -226s;
    transform-origin: 8vw -14vh;
    box-shadow: -100vmin 0 12.917054770142926vmin currentColor;
}
.background span:nth-child(32) {
    color: #fe71e4;
    top: 57%;
    left: 50%;
    animation-duration: 202s;
    animation-delay: -28s;
    transform-origin: -18vw 25vh;
    box-shadow: -100vmin 0 13.012706920387672vmin currentColor;
}
.background span:nth-child(33) {
    color: #fe71e4;
    top: 39%;
    left: 8%;
    animation-duration: 231s;
    animation-delay: -265s;
    transform-origin: 0vw 13vh;
    box-shadow: -100vmin 0 12.993963927428796vmin currentColor;
}
.background span:nth-child(34) {
    color: #fe71e4;
    top: 85%;
    left: 90%;
    animation-duration: 29s;
    animation-delay: -145s;
    transform-origin: 25vw 1vh;
    box-shadow: -100vmin 0 12.520495470863047vmin currentColor;
}
.background span:nth-child(35) {
    color: #e45895;
    top: 44%;
    left: 5%;
    animation-duration: 127s;
    animation-delay: -348s;
    transform-origin: 22vw 25vh;
    box-shadow: 100vmin 0 12.67318704402015vmin currentColor;
}
.background span:nth-child(36) {
    color: #FFACAC;
    top: 54%;
    left: 4%;
    animation-duration: 34s;
    animation-delay: -76s;
    transform-origin: 15vw -12vh;
    box-shadow: 100vmin 0 12.629112083873515vmin currentColor;
}
.background span:nth-child(37) {
    color: #FFACAC;
    top: 64%;
    left: 6%;
    animation-duration: 43s;
    animation-delay: -227s;
    transform-origin: 2vw 6vh;
    box-shadow: -100vmin 0 12.660396125192475vmin currentColor;
}
.background span:nth-child(38) {
    color: #fe71e4;
    top: 5%;
    left: 45%;
    animation-duration: 308s;
    animation-delay: -384s;
    transform-origin: 14vw 22vh;
    box-shadow: 100vmin 0 13.34545480809294vmin currentColor;
}
.background span:nth-child(39) {
    color: #e45895;
    top: 61%;
    left: 56%;
    animation-duration: 309s;
    animation-delay: -124s;
    transform-origin: 7vw -22vh;
    box-shadow: -100vmin 0 12.972794630981168vmin currentColor;
}
.background span:nth-child(40) {
    color: #FFACAC;
    top: 1%;
    left: 89%;
    animation-duration: 36s;
    animation-delay: -58s;
    transform-origin: 18vw 21vh;
    box-shadow: -100vmin 0 13.484101508064171vmin currentColor;
}
.background span:nth-child(41) {
    color: #fe71e4;
    top: 62%;
    left: 41%;
    animation-duration: 175s;
    animation-delay: -160s;
    transform-origin: 4vw -20vh;
    box-shadow: -100vmin 0 13.151721969852257vmin currentColor;
}
.background span:nth-child(42) {
    color: #FFACAC;
    top: 77%;
    left: 91%;
    animation-duration: 52s;
    animation-delay: -193s;
    transform-origin: 10vw -19vh;
    box-shadow: -100vmin 0 12.59542187605993vmin currentColor;
}
.background span:nth-child(43) {
    color: #fe71e4;
    top: 77%;
    left: 2%;
    animation-duration: 379s;
    animation-delay: -194s;
    transform-origin: 19vw 7vh;
    box-shadow: -100vmin 0 13.019559357124354vmin currentColor;
}
.background span:nth-child(44) {
    color: #e45895;
    top: 34%;
    left: 65%;
    animation-duration: 22s;
    animation-delay: -40s;
    transform-origin: 6vw 4vh;
    box-shadow: -100vmin 0 13.01511294361008vmin currentColor;
}
.background span:nth-child(45) {
    color: #fe71e4;
    top: 58%;
    left: 47%;
    animation-duration: 342s;
    animation-delay: -349s;
    transform-origin: -21vw 20vh;
    box-shadow: 100vmin 0 12.582580315006416vmin currentColor;
}
.background span:nth-child(46) {
    color: #e45895;
    top: 37%;
    left: 17%;
    animation-duration: 39s;
    animation-delay: -254s;
    transform-origin: -6vw -18vh;
    box-shadow: -100vmin 0 12.780592230544972vmin currentColor;
}
.background span:nth-child(47) {
    color: #FFACAC;
    top: 52%;
    left: 100%;
    animation-duration: 19s;
    animation-delay: -184s;
    transform-origin: -1vw -18vh;
    box-shadow: -100vmin 0 13.284762574759778vmin currentColor;
}
.background span:nth-child(48) {
    color: #e45895;
    top: 47%;
    left: 76%;
    animation-duration: 89s;
    animation-delay: -109s;
    transform-origin: -11vw -23vh;
    box-shadow: 100vmin 0 13.45912333735355vmin currentColor;
}
.background span:nth-child(49) {
    color: #FFACAC;
    top: 93%;
    left: 33%;

}
/* animations */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
/* animations */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}